src/api_creation/SpotIt_API/.cache
tests/experimentation/*
.ipynb_checkpoints/config-checkpoint.py
src/api_creation/SpotIt_API/credentials.json
.DS_Store
__pycache__
src/etl/config.py
src/etl/temp_data/*
tests/*
tests/api_tests/*
tests/etl_tests/*
src/etl/__pycache__
src/terraform/*
!*.tf