venv/*
src/deployment/.cache
tests/experimentation/*
.ipynb_checkpoints/config-checkpoint.py
.DS_Store
__pycache__
src/airflow/etl_scripts/config.py
src/airflow/etl_scripts/temp_data/*
src/airflow/dags/__pycache__
src/airflow/plugins/*
src/airflow/logs/*
src/airflow/.env
tests/*
tests/api_tests/*
tests/etl_tests/*
src/airflow/etl_scripts/__pycache__
src/terraform/*
!*.tf
src/recommendation_models/.ipynb_checkpoints
src/model/__pycache__
src/model/credentials.py